﻿
* {
    font-family: OpenSans;
}

.btn {
    font-size: 18;
}

.place_lbl_title {
    font-family: OpenSans-SemiBold;
    margin-left: 5;
}

.place_lbl_address {
    font-family: OpenSans-Italic;
    margin-left: 5;
}

.place_lbl_des {
    font-family: OpenSans-Italic;
    margin-left: 5;
}

.place_lbl_cats {
    font-family: OpenSans-SemiBold;
    margin-left: 5;
}

.place_lbl_tags {
    margin-left: 5;
}

.place_lbl_contact {
    font-family: OpenSans-SemiBold;
    font-size: 15;
    color: black;
    text-decoration: underline;
}

.place_btn_add {
}

.place_lbl_help {
    font-family: OpenSans-Italic;
    font-size: 13;
    color: #979697;
}


.place_lbl_sep {
    background-color: #F2F2F1;
}

.place_event_lbl_title {
    font-size: 22;
    font-family: OpenSans-SemiBold;
    margin-left: 10;
}

.place_event_lbl_des {
    margin-left: 10;
    margin-right: 10;
    font-family: OpenSans-Italic;
    font-size: 14;
}


.comp_lbl_title {
    font-size: 16;
    font-family: OpenSans-Regular;
    margin-top: 5;
}

.comp_lbl_dates {
    font-size: 14;
    font-family: OpenSans-Italic;
}

.com_lbl_des, .com_lbl_address {
    font-family: OpenSans-Italic;
    font-size: 14;
    color: #797879;
}

.com_lbl_contact {
    font-family: OpenSans-SemiBold;
    font-size: 15;
    color: black;
    text-decoration: underline;
}

.com_lbl_help {
    font-family: OpenSans-Italic;
    font-size: 13;
    color: #979697;
}

.event_lbl_title {
    font-size: 22;
    font-family: OpenSans-Regular;
}

.event_lbl_date {
    font-family: OpenSans-Italic;
    font-size: 14;
    color: #797879;
}

.event_lbl_des {
    font-family: OpenSans-Italic;
}
/*
color
background-color
font-family
font-size
font-style
height
width
border-color
border-width
visibility
opacity
text-align
margin - left | right | top | bottom
padding - left | right | top | bottom

*/
