﻿
.LBLActivityDate {
    text-align: center;
}


.LBLActivityAddress {
    font-size: 14;
}
/*
color
background-color
font-family
font-size
font-style
height
width
border-color
border-width
visibility
opacity
text-align
margin - left | right | top | bottom
padding - left | right | top | bottom

*/
